:root {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #1C1C1E;
  color: white;
  margin: 0;
  padding: 0;
}

#main-container {
  background-color: inherit;
  height: 100vh;
  width: 100%;
}

.chart-container{
  height: 100%;
}

.navbar-container{
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.navitem-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.navbar-title {
  font-size: 16px;
  font-weight: 5;
}

.footer-container {
  display: flex;
  padding: 1rem 2rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem ;
  row-gap: 0.5rem;
}

.text-with-icon {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 0;
  padding: 0;
}